html,
body {
  overscroll-behavior: contain;
}

body {
  margin: 0;
  font-display: swap;
  font-family: Roboto, arial, sans-serif;
}

@media (max-width: 960px) {
  * {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.row {
  display: flex;
}

.row + .row {
  margin-top: 8px;
}

.col {
  flex-grow: 1;
  flex-basis: 0%;
  min-width: 0;
}

.col-auto {
  width: auto;
  flex: 0 0 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.object-fit-contain {
  object-fit: contain !important;
  width: 100%;
  height: 100%;
}

.object-fit-cover {
  object-fit: cover !important;
  width: 100%;
  height: 100%;
}

.object-fit-fill {
  object-fit: fill !important;
  width: 100%;
  height: 100%;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.size-64 {
  width: 64px;
  height: 64px;
}

button.size-16 > span.mdi {
  font-size: 12px;
}

button.size-32 > span.mdi {
  font-size: 24px;
}

button.size-48 > span.mdi {
  font-size: 32px;
}

.color-primary {
  background-color: #1976d2;
  color: white;
}

.color-primary[disabled] {
  background-color: #a0bef0;
}

.mdi {
  font-size: 24px;
}

.rounded {
  border-radius: 50%;
  overflow: hidden;
}

input {
  padding: 8px;
  border: none;
  border-radius: 16px;
}

button {
  border: none;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
}

button > span.mdi {
  display: inline-flex;
  margin: auto;
}

.btn-text {
  background: none;
}

.btn-icon {
  display: flex;
  padding: 0;
  background: none;
}
